{% extends 'base_with_menu.html' %}


{% block title %}
DashBoard
{% endblock %}
{% block nav %}
> 파일 관리 > <a href="{{ url_for('filemanager_blueprint.file_explorer_page_router') }}">파일 탐색기</a>
{% endblock %}
{% block header %}
<h1>파일 관리</h1>
{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='filemanager.css') }}">

    <div id="filebrowser">
        <span class="path">경로 : {{path}}</span>
    </div>


<script>

    const FileType={
        DIRECTORY:0,
        IMAGE_FILE:1,
        NOT_IMAGE_FILE:2
    }
    main();


    function onFolderDoubleClicked(filePath){
        console.log(filePath);
    }
    function getFileListWithJsonFormedString(){
        return "{{filesWithJson}}".replace(/&#39;/gi, "\"").replace(/\\/gi, "/");
    }
    function makeDirectoryFirstOrder(serverFileList){
        serverFileList.sort(function(a, b) {
            return a["filetype"]- b["filetype"];
        });
        return serverFileList
    }
    function fileListToHTML(serverFileList){
        for(serverFileIdx in serverFileList){
            var fileName = serverFileList[serverFileIdx]["filename"];
            var fileType= serverFileList[serverFileIdx]["filetype"];
            var filePath= serverFileList[serverFileIdx]["filepath"];
            if(fileType==FileType.DIRECTORY){
                document.getElementById("filebrowser").innerHTML += "<div class='folder' ondblclick='onFolderDoubleClicked(\""+filePath+"\")'>"+fileName+"</div>";
            }else{
                document.getElementById("filebrowser").innerHTML += "<div class='file'>"+fileName+"</div>";
            }
         }
     }
    function main(){
        var serverFileList = JSON.parse(getFileListWithJsonFormedString());
        serverFileList = makeDirectoryFirstOrder(serverFileList);
        fileListToHTML(serverFileList);
    }

</script>

{% endblock %}

